#app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../src/images/hand_rain.jpg");
  background-size: 100vw 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  from {
    background-position: (0, 0);
  }

  to {
    background-position: (-50vw, 0);
  }
}